main{
    background: #eee;
  }
  
  h1{
    text-align: center;
    color: #059696;
    margin-bottom: 0;
   }
  
  h2{
    text-align: center;
    margin-bottom: 0;
   }
  
  #image{
    width: 20%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    height: auto;
  }
  
  #img-caption{
    margin: 15px 0 5px 0;
    text-align: center;
    font-family: sans-serif;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  
  #tribute-info{
    text-align: center;
  }